<nav xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-nav">
	<ul>
		<li><a href="/contexte/SessionEtRequest?pseudo=Julien" data-th-text="#{frag-nav.a.contexte.julien}"></a></li>
		<li><a href="/contexte/SessionEtRequest/recuperer" data-th-text="#{frag-nav.a.contexte.recuperer}"></a></li>
		<li><a href="/contexte/utilisateur" data-th-text="#{frag-nav.a.contexte.utilisateur}"></a></li>
		<li><a href="/contexte/SessionEtRequest/deconnexion" data-th-text="#{frag-nav.a.contexte.invalidate}">Déconnexion</a></li>
	</ul>
</nav>