<!DOCTYPE html>
<!-- Mise en place du layout -->
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-demo( 
				titrePage=~{:: title},
				contenuPage=~{:: main},
				ressourcesSupp=~{:: #ressources-css})}">

<head>
	<!-- Formateur comme titre de page -->
	<title>Formateur - Création</title>

	<!-- Ajout de CSS demo-form.css -->
	<th:block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/demo-form.css}" />
		<link rel="stylesheet" data-th-href="@{/css/demo-error.css}" />
	</th:block>
</head>

<body>
	<main>
		<div data-th-replace="~{fragments/fragment-formateur-detail :: frag-formateur-form('/formateurs/creer', 'Création d\'un nouveau formateur',
		~{fragments/fragment-liste-cours-form :: frag-liste-cours})}"></div>
		
	</main>
</body>

</html>