<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Demo Spring Web</title>
	<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32" />
	<link rel="stylesheet" data-th-href="@{/css/general.css}" />
	<link rel="stylesheet" data-th-href="@{/css/demo-table.css}" />
</head>

<body>

	<!-- Navbar -->
	<header>
		<h1 id="nav-title"><a href="/">Démonstrations Spring Web</a></h1>
		<nav>
			<ul>
				<li><a href="/formateurs">Formateurs</a></li>
				<li><a href="/formateurs/creer">Création</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<h1>Les formateurs de l'ENI</h1>
		
		<p data-th-with="premier=${formateurs[0]}" style="background-color: #008080;color: #fff;">
			Premier formateur de la liste : 
			<span data-th-text="${premier.prenom + ' ' + premier.nom}"></span>
		</p>
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody> <!-- build html table based on formateurs -->
				<tr data-th-each="item, iter : ${formateurs}">
					<td data-th-text="${iter.index}"></td>
					<td data-th-text="${item.prenom}"></td>
					<td data-th-text="${item.nom}"></td>
					<td><a data-th-href="@{/formateurs/detail(email=${item.email})}">Détail</a></td>
				</tr>
			</tbody>
		</table>
	</main>
</body>

</html>